{% extends 'Lyamu/base.html' %}
{% block content %}
<h1>Apply for {{ job.title }}</h1>
<p>{{ job.description }}</p>
<p>Requirements: {{ job.requirements }}</p>
<p>Importance level: {{ job.importance_level }}</p>
<p>Application deadline: {{ job.application_deadline }}</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Candidate biodata</h2>
    {{ candidate_form|crispy }}
    <h2>Candidate education</h2>
    {{ education_formset|crispy }}
    <input type="submit" value="Apply">
</form>
{% endblock %}
