<!-- yourapp/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Job Application sorting system{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Add your custom CSS links or any other head content here -->
</head>
<body>

    <header class="bg-dark text-white p-4">
        <div class="container">
            <h1>Online Job Application sorting system</h1>
            <!-- Add navigation links or any other header content here -->
            <!-- Display logout icon if the user is authenticated -->
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
                {% if user.candidate %}
                    <a href="{% url 'view_profile' %}" class="btn btn-secondary ml-2">Profile</a>
                {% endif %}
            {% else %}
                <!-- Add navigation links or any other header content here -->
            {% endif %}
        </div>
    </header>

    <main class="container mt-4">
        {% block content %}{% endblock %}

        <!-- Display messages if they exist -->
        {% if messages %}
            <div class="mt-4">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>

    <footer class="bg-dark text-white p-4 mt-4">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">© 2024 Online Application Sorting</span>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
