<!-- yourapp/templates/dashboard.html -->

{% extends 'Lyamu/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Dashboard</h2>
        <div class="row mt-4">
            <div class="col-md-3">
                <a href="{% url 'jobs_page' %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Jobs</h5>
                            <p class="card-text">{{ total_jobs }}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="{% url 'candidates_page' %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Candidates</h5>
                            <p class="card-text">{{ total_candidates }}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="{% url 'applications_page' %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Applications</h5>
                            <p class="card-text">{{ total_applications }}</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="{% url 'selections_page' %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Selections</h5>
                            <p class="card-text">{{ total_selections }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
