<!-- yourapp/templates/Lyamu/job_details.html -->

{% extends 'Lyamu/base.html' %}

{% block title %}{{ job.title }} Details{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-purple">{{ job.title }} Details</h2>
        <div class="card bg-primary text-white mt-4">
            <div class="card-body">
                <h5 class="card-title">{{ job.title }}</h5>
                <p class="card-text">{{ job.description }}</p>
                <p class="card-text"><strong>Requirements:</strong> {{ job.requirements }}</p>
                <p class="card-text"><strong>Importance Level:</strong> {{ job.importance_level }}</p>
                <p class="card-text"><strong>Application Deadline:</strong> {{ job.application_deadline }}</p>
                <!-- Add more job details as needed -->

                {% if not user.is_authenticated %}
                    <div class="mt-4 text-center">
                        <p class="text-white d-none">Please <a href="{% url 'login' %}" class="text-warning font-weight-bold">login</a> or <a href="{% url 'register_user' %}" class="text-warning font-weight-bold">register</a> to apply for this job.</p>
                    </div>
                {% elif has_applied %}
                    <div class="mt-4 text-center">
                        <p class="text-dange font-weight-bold">You have already applied for this job.</p>
                        <a href="{% url 'application_status' job.id %}" class="btn btn-info">View Application Status</a>
                    </div>
                {% else %}
                    <div class="mt-4 text-center">
                        <form method="post" action="{% url 'apply_job' job.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Apply for this job</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
