<!-- yourapp/templates/login.html -->

{% extends 'Lyamu/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="mt-4">
                <p>If not registered<a href="{% url 'register_user' %}">register</a> </p>
            </div>
        </form>
    </div>
{% endblock %}
